{
  "extends": "airbnb",
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "object-curly-newline": "off",
    "prefer-default-export": "off"
  },
  "env": {
    "browser": true,
    "mocha": true
  }
}
